.qq{
    padding-left: 55%;
    padding-top: 3%;
    color: rgb(67, 54, 54);
}
.ooo{
    padding-left: 20%;
    padding-top: 1%;
    color:rgb(67, 54, 54);
}
.dd{
   padding-left: 55%; 
   padding-top: 1%;
   padding-bottom: 6%;
   color:rgb(67, 54, 54);
}
.kk{
    background-color: whitesmoke;
}
